<div class="d-flex mt-5">
  {{!-- 左側欄位 --}}
  <div class="row" style="height: 500px;width: 250px;">
    {{!-- 上 --}}
    <div class="col-12">
      <p>Twitter</p>
    </div>
    {{!-- 中 --}}
    <div class="col-12 pt-0">
      <a href="/" style=" text-decoration:none;color:rgb(179, 123, 50)">
        <p>首頁</p>
      </a>
      <a href="/users/{{user.id}}" style=" text-decoration:none;color:rgb(0, 0, 0)">
        <p>個人資料</p>
      </a>
      <a href="/users/{{user.id}}/edit" style=" text-decoration:none;color:rgb(0, 0, 0)">
        <p>設定</p>
      </a>
      <a href="/users/{{user.id}}/tweets" style=" text-decoration:none;color:rgb(0, 0, 0)">
        <p>推文</p>
      </a>
    </div>
    {{!-- 下 --}}
    <div class="col-12">
      <p>登出</p>
    </div>
  </div>

  <div style="width: 780px;" class="me-5">
    {{!-- 標題 --}}
    <div class="d-flex flex-column">
      <img src="{{ user.cover }}" alt="" srcset="" style="height: 300px;object-fit: cover;">
      <div class="d-flex flex-column ms-4">
        <div class="d-flex" style="position: relative;">
          <img src="{{ user.avatar }}" alt="" srcset=""
            style="height: 200px;width:200px;object-fit: cover;margin-top:-100px;border-radius:50%;border: solid 10px white">
          {{#if allowEdit}}
          <div class="d-flex flex-column align-items-end p-2"><button type="submit" class="btn post-a-tweet"
              style="background-color: #FF6600;color: white; border-radius: 50%;font-size:20px;position:absolute;right:20px;"
              data-bs-toggle="modal" data-bs-target="#profileModal" data-id="{{user.id}}">編輯個人頁面</button></div>
          {{/if}}
        </div>
      </div>
      {{!-- 顯示追蹤狀態 --}}
      <div style="display: flex; flex-direction:row;justify-content:flex-end">
        {{#if isFollowed}}
        <form action="/followships/{{ user.id }}?_method=DELETE" method="post" class="mt-2">
          <button class="btn btn-sm btn-outline-danger" style="display:inline-block;border:solid">追蹤中</button>
        </form>
        {{else}}
        <form action="/followships" method="post" class="mt-2">
          <label>
            <input type="number" name="id" id="followInput" style="display: none;" value="{{user.id}}">
          </label>
          <button class="btn btn-sm btn-outline-secondary" style="display:inline-block;">追蹤</button>
        </form>
        {{/if}}
      </div>
      <div class=" d-flex flex-column ms-4">

        <p class="fs-3 fw-bold mb-0" style="display:inline-block;width:fit-content;">{{ user.name }}</p>
        <p style="color: darkseagreen;">{{ user.account }}</p>
        <p>{{ user.introduction }}</p>

        <div class="d-flex">
          <a href="/users/{{ user.id }}/followers" class="me-3 d-flex" style="color: black;text-decoration:none;">
            <p>{{ followerCount }} 位</p>
            <p style="color: rgb(82, 82, 82);" class="ms-1">跟隨者</p>
          </a>
          <a href="/users/{{ user.id }}/followings" class="me-3 d-flex" style="color: black;text-decoration:none;">
            <p>{{ followingCount }} 個</p>
            <p style="color: rgb(82, 82, 82);" class="ms-1">追蹤中</p>
          </a>
        </div>

        {{!-- select bar --}}
        <ul class="nav nav-tabs mb-4">
          <li class="nav-item">
            <a class="nav-link fw-bolder" href="/users/{{ user.id }}/tweets"
              style="color: rgb(94, 94, 94);border-bottom: solid 3px darkseagreen">推文</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/{{ user.id }}/replies" style="color: darkseagreen;">推文與回覆</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/{{ user.id }}/likes" style="color: darkseagreen;">喜歡的內容</a>
          </li>
        </ul>

        {{#each tweets }}
        {{!-- 推文 --}}
        <a href="/tweets/{{ this.id }}" class="d-flex align-items-center mb-2"
          style="color: black;text-decoration:none;">
          {{!-- 大頭貼 --}}
          <div>
            <img src="{{ ...user.avatar }}" style="border-radius: 100%;width: 60px">
          </div>
          {{!-- 右側文字 --}}
          <div class="ms-3" style="height: 80px;">
            {{!-- 發文者 --}}
            <div class="d-flex align-items-center mb-0">
              <p class="fs-5 me-2 mb-0">{{ ...user.name }}</p>
              <p class="mb-0" style="color: darkseagreen;">{{ ...user.account }}・{{ momentCH this.createdAt }}</p>
            </div>
            {{!-- 推文內容 --}}
            <p class="mt-0" style="font-size: small;">
              {{ this.description }}
            </p>
          </div>
        </a>
        <hr>
        {{/each}}

      </div>
    </div>
  </div>

  <div>{{> recommendedFollower }}</div>
</div>

<!-- Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width:700px;height:650px;">
      <form action="/api/users/{{user.id}}" method="POST" enctype="multipart/form-data">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><button type="button" class="btn-close" data-bs-dismiss="modal"
              aria-label="Close"></button>
            編輯個人資料
          </h5>
          <div class="d-flex flex-column align-items-end p-2"><button type="submit" class="btn post-a-tweet"
              style="background-color: #FF6600;color: white; border-radius: 45%;font-size:20px;">儲存</button></div>
        </div>

        <div class="modal-body d-flex flex-column justify-content-around pb-0">
          {{!-- input 包在 label 中可以觸發點擊事件, input 為隱藏狀態 --}}
          <label id="coverFile" style="background-image:url({{user.cover}});height: 200px;object-fit:
              cover;width:100%;opacity: .5;line-height:200px;color:white;" class="text-center">
            {{!-- camera icon --}}
            <i class="fas fa-camera fa-2x" style="cursor: pointer;"></i>
            {{!-- 檔案接收元件, 含 --}}
            <input id="uploadCover" name="cover" style="display:none;" type="file">
          </label>
          <div class="d-flex flex-column ms-4">
            <div class="d-flex" style="position: relative;">
              {{!-- input 包在 label 中可以觸發點擊事件, input 為隱藏狀態 --}}
              <label id="avatarFile"
                style="background-image:url({{user.avatar}});height: 150px;width:150px;object-fit:cover;margin-top:-70px;border-radius:50%;border: solid 10px white;opacity: .8;line-height:150px;color:white;"
                class="text-center">
                {{!-- camera icon --}}
                <i class="fas fa-camera fa-2x" style="cursor: pointer;"></i>
                <input id="uploadAvatar" name="avatar" style="display:none;" type="file">
              </label>
            </div>
            <div class="form-group">
              {{!-- DOM有綁定元件id, 包含字數統計, POST 回傳--}}
              <label for="profileName" style="display:block;background-color: #F5F8FA;">名稱</label>
              <input type="text" class="form-control" id="profileName" name="name" aria-describedby="name"
                value="{{user.name}}" maxlength="50" placeholder="Enter Name"
                style="background-color: #F5F8FA;border:none;" required>
              <small id="nameLength" class="">0/50</small>
            </div>
            <div class="form-group">
              {{!-- DOM有綁定元件id, 包含字數統計, POST 回傳--}}
              <label for="profileIntro" style="display:block;background-color: #F5F8FA;">自我介紹</label>
              <textarea class="form-control" id="profileIntro" rows="3" maxlength="140" name="introduction"
                style="background-color: #F5F8FA;border:none;white-space:pre-wrap;">{{user.introduction}}</textarea>
              <small id="introLength" class="">0/140</small>
            </div>
          </div>

        </div>

      </form>
    </div>
  </div>
</div>
{{!-- toast --}}
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="https://yt3.ggpht.com/ytc/AKedOLSMq3y4-2mILcS9X7GTvNYswkMqpjyE6y1c0U3A6w=s900-c-k-c0x00ffffff-no-rj"
        class="rounded me-2" alt="..." style="width: 30px;height:30px;">
      <strong class="me-auto">AC Tweet</strong>
      <small>1 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>